.footer{
    text-align: center;
    color: red;
    background-color: lightgray;
    margin-top: 10px;
}

.header-container{
    text-align: right;
}

.menu{
    text-align: right;
    background-color: lightgray;
}

.error {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #bce8f1;
}

.msg {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.msgSuccess{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    background-color: chartreuse;
    border-color: green;
}

.price{
    margin-right: 50px;
    text-align: right;
    font-weight: bold;
    font-size: medium;
}

.main{
    text-align: center;
    margin: 20px;

}